{% extends "base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}"> 
    <script src="{% static 'js/modal.js' %}">
    </script> 
{% endblock %}

{% block body %}
<div class="container">
    <div class="left-column">
        <h2>Lessons</h2>
        <ul id="lesson-list">
            {% if lessons %}
                {% for lesson in lessons %}
                <li class="lesson-item">
                    <a href="{% url 'lesson_detail' lesson.id %}">{{ lesson.lesson_number }} - {{ lesson.title }}</a>
                </li>
                {% endfor %}
            {% else %}
                <li>No lessons found.</li>
            {% endif %}
        </ul>
    </div>
    
    <div class="right-column">
        <button id="create-lesson-btn">Create Lesson</button>
    </div>
</div>

<!-- Модальное окно для создания урока -->
<div id="lesson-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Create Lesson</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="course_id" value="{{ course.id }}">
            <label for="lesson-number">Lesson Number:</label>
            <input type="text" id="lesson-number" name="lesson_number">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title">
            <label for="content-file">Upload Excel File:</label>
            <input type="file" id="content-file" name="content_file">
            <button type="submit">Save</button>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}